[apply]
  whitespace = fix
[core]
  editor = vim
  eol = lf
  excludesfile = ~/.gitignore
[gist]
  browse = yes
  private = no
[github]
  user = gregnostic
[status]
  relativepaths = false
[user]
  email = gregnostic@gmail.com
  name = Greg Hines

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
