[apply]
  whitespace = fix
[core]
  editor = vim
  eol = lf
  excludesfile = ~/.gitignore
[gist]
  browse = yes
  private = no
[github]
  user = gregnostic
[status]
  relativepaths = false
[user]
  email = gregnostic@gmail.com
  name = Greg Hines
